$primary: rgb(42, 50, 156);
$body-bg: rgb(255, 255, 255);

@import '~bootstrap/scss/bootstrap.scss';

$color: steelblue;

.my-flix {
  color: $color;
}

.movie-image {
  width: 150px;
  height: 300px;
}

.logout-container {
  display: flex;
  justify-content: flex-end; 
}

